* {
  background-color: wheat;
}
h1 {
  color: black;
  text-align: center;
}
h3 {
  color: black;
  text-align: center;
}
p {
  color: black;
}
button {
  color: black;
  margin: 20px;
}
input {
  justify-content: center;
  text-align: center;
  border: 4px black solid;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 10px 510px;
  justify-content: center;
  align-content: center;
  background-color: brown;
}
